.btn {
  padding: 15px 15px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  background-color: steelblue;
  margin: 25px 0;
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  max-width: 300px;
}

.go-back {
  margin: 25px 25px;
}
